/* RESET */
* {
    padding: 0;
    margin: 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   
}

img {
    width: 100%;
}


/* LAYOUT */
.container {
    width: 80%;
    max-width: 1100px;
    box-sizing: border-box;
    margin: 0 auto;
}


.hero-container {
    background-image: url('/hero.jpg');
    background-size: cover;
    background-position: center;
    height: 300px;
    color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}

.hero-content {
    max-width: 600px;
    width: 100%;
}

/* HOMEPAGE HERO */
.hero-content {
    padding-left: 8rem;
}

/* HOMEPAGE CARD */
.hp-card img {
    object-fit: cover;
}

.card-text {
    font-size: 0.7rem;
    width: 100px;
}

.card-text h6 {
    font-size: 0.9rem;
}


