/* RESET */
* {
    padding: 0;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

img {
    width: 100%;
}


/* LAYOUT */
.container {
    width: 80%;
    max-width: 1100px;
    box-sizing: border-box;
    margin: 0 auto;
}

html,
body {
    height: 100%;
}

.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding-top: 62px;
        background-color: #FBFDFC;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 999;
}

main {
    flex: 1;
}

footer {
    width: 100%;
}

.footer-icon{
    color: #2B6394;
}

.hero-container {
    background-image: url('/hero.jpg');
    background-size: cover;
    background-position: center;
    height: 300px;
    color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}

.hero-content {
    max-width: 600px;
    width: 100%;
}

/* NAVBAR */
.navbar-nav .nav-link.active {
    color: rgba(23, 164, 138, 0.7) !important;
    /* Cambia 'red' con il colore che preferisci */
}

/* HOMEPAGE HERO */
.hero-content {
    padding-left: 8rem;
}

/* HOMEPAGE CARD */
.hp-card {
    width: 25rem;
    background-color: #EFF2F0;
    border: 0;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
    /* other color option #E8ECE9 */
}

.hp-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.hp-card img {
    object-fit: cover;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin-right: 70px;
}

.testo-corto {
    display: none;
}
.testo-cortissimo{
    display: none;
}

.card-text {
    font-size: 0.7rem;
}

.card-text h6 {
    font-size: 0.9rem;
}

.hp-card a {
    text-decoration: none;
}

/* FORM REGISTRAZIONE */
.registrazione {
    background-image: url(../public/sfondo-registrazione.png);
    background-size: cover;
    object-fit: cover;
}

.titolo {
    color: rgba(23, 164, 138, 0.7);
}

.registrazione .sottotitolo {
    color: rgba(14, 92, 78, 0.7);
}

.registrazione h5 {
    color: #2b6394;
}

.nome {
    height: 100%;
    gap: 3rem
}

.btn-area {
    width: 100%;
}

.dati-anagrafici {
    border: 1px solid rgba(23, 164, 138, 0.4);
}

.contatti-form {
    border: 1px solid rgba(23, 164, 138, 0.4);
}

.files {
    border: 1px solid rgba(23, 164, 138, 0.4);
}

.specializzazione-form {
    border: 1px solid rgba(23, 164, 138, 0.4);
}


.check-sm {
    display: none;
}

.dropdown-btn {
    display: none;
    color: white;
}

/* HOME PAGE */

.home-btn {
 padding: 10px 10px;
    border-radius: 8px;
    font-size: 17px;
    font-weight: bold;
    transition: background-color 0.3s;
    border: none;
}

.home-btn:hover {
    background-color: #2B6394;
    cursor: pointer;
}

/* ADVANCED SERACH SEARCHBAR */

.homeSearchBar-input {
    max-width: 500px;
        padding: 7px 10px;
        border-radius: 10px;
        border: 1px solid #ccc;
        font-size: 20px;
        color: #333;
        transition: border-color 0.3s;
}

.searchBar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.searchBar-input {
    
    max-width: 400px;
    padding: 12px 20px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 20px;
    color: #333;
    transition: border-color 0.3s;
}

.searchBar-input:focus {
    border-color: purple;
    box-shadow: 0 0 8px rgba(79, 190, 137, 0.4);
}

.searchBar-btn {
    display: inline-block;
    background: #4FBE89;
    color: white;
    padding: 12px 20px;
    border-radius: 8px;
    font-size: 17px;
    font-weight: bold;
    transition: background-color 0.3s;
    border: none;
}

.searchBar-btn:hover {
    background-color: #2B6394;
    cursor: pointer;
}

.searchBar-input::placeholder {
    color: #aaa;
    font-style: italic;
}


/* DOCTORCARD - IN ADVANCEDSEARCH */

.d-card {
    background: #ffffff;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
    margin-right: 20%;
        /* margin-left: 20%; */
    height: 300px;   
}

.d-card-body {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 20px;
}

/* Bottone DESTRA nel caso */
/* .btn-design.right {
    align-self: flex-end;
} */

.d-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.d-card-img {
    width: 100%;
    max-height: 300px;
    object-fit: contain;
    border-radius:15px;
    padding: 15px;
}

.d-card-header {
    font-size: 30px;
    font-weight: bold;
    color: #4FBE89;
    margin: 10px;   
}

.d-card-header a {
text-decoration: none;
    color: #4FBE89;
}

.d-card-header a {
text-decoration: none;
    color: #4FBE89;
}

.d-card-header a:hover {
    color: #2B6394;
}

.card-location,
.card-phone {
    font-size: 18px;
    color: #555;
    margin: 10px;
}


.btn-design {
    display: inline-block;
    background: #4FBE89;
    color: white;
    padding: 8px 15px;
    border-radius: 8px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    transition: transform 0.3s;
    margin-top: 50px;
     align-self: flex-end;
}

.btn-design:hover {
    background: #2B6394;
}

/* ADVANCED SEARCH */

.advanced-search-container {
    /* padding: 20px;
        background-color: #FCF7F3; */
    /* Background della pagina */
    margin: 0 auto;
    background-color: #FBFDFC;
   
}

.ads-title {
    color: #2B6394;
    border-bottom: 2px solid purple;
    margin: 20px;
    /* option #4FBE89 */
}

.doctor-list {
    width: 80%;
    margin: 0 auto;
}

.btn-back {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    color: #FFA500;
    font-size: 50px;
    cursor: pointer;
    transition: color 0.3s ease;
}

.btn-back:hover {
    color: #FF6347;
}

/* DICONO DI NOI COMPONENT. */

.rstars {
    color: #FFD700;
    font-size: 20px;
    margin-bottom: 10px;
    text-align: center;
}

.rCard {
    background: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 300px;
    margin: auto;
    border: 5 solid #2B6394;
}

.rcard-text {
    font-size: 14px;
    color: #333;
    margin-bottom: 10px;
}

.author {
    font-size: 14px;
    color: #000;
    font-weight: bold;
}


/* SLIDER */

.slider-wrapper {
    background-color: #2B6394;
    width: 80%;
    margin: 0 auto;
    border-radius: 10px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
}

.slider-wrapper h3 {
    text-align: left;
    margin-left: 20px;
    color: #2B6394;
    font-size: 35px;
    font-weight: bold;
    font-family: "Playfair Display", serif;

}

.quote-icon {
    font-size: 40px;
    color: #2B6394;
    margin-bottom: 5px;
}

.background-box {
    max-height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 10px 0;

}


/* SEARCHBAR COMPONENT */


/* CONTATTACI */
.contact-container {
    width: 80%;
    margin: 0 auto;
}

.divider {
    border: none;
    border-top: 2px solid purple;
    margin-top: 10px;
    margin-bottom: 30px;
}

.contact-title {
    color: purple;
    border-bottom: 2px solid #4FBE89;
    padding-bottom: 10px;
    margin-bottom: 20px;
}


.contact-text {
    text-align: left;
}

.contact-text h2 {
    color: #2B6394;
    font-size: 24px;
    margin-bottom: 10px;
}

.contact-text p {
    font-size: 14px;
    color: #555;
    margin-bottom: 20px;
}

.contact-text ul {
    list-style-type: none;
    padding-left: 0;
}

.contact-text ul li {
    margin-bottom: 8px;
}

.contact-text a {
    text-decoration: none;
}

.contact-text a:hover {
    text-decoration: underline;
}

.contact-card img {
    border-radius: 8px;
}

.btn-contact {
    background-color: #4FBE89;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 10px;
    font-size: 16px;
    transition: background-color 0.3s;
}

.btn-contact:hover {
    background-color: purple;
    text-decoration: none;
}

/* ///////////////////// */
/****** MEDIA QUERY ******/
/* ///////////////////// */

/* Desktop First */
@media (max-width: 1200px) {
    .d-card {
        width: 90%;
        margin-left: 5%;
        height: auto;
        flex-direction: column;
        text-align: center;
    }

    .d-card-body {
        padding: 10px;
    }

    .btn-design {
    margin-top: 20px;
    align-self: center;          
    }
}

/* 960px */
@media screen and (max-width: 960px) {

}

/* 768px */
@media screen and (max-width: 768px) {
    .slider-wrapper {
        padding: 10px;
    }

    .slider-wrapper h3 {
        font-size: 1.5rem;
    }

    .quote-icon {
        font-size: 2rem;
    }

    /* DOC REG FORM */
    .bottom-form {
        flex-direction: column;
        align-items: center;
        gap: 3rem;
    }
}


@media screen and (max-width: 648px) {

    /* div.hero-content {
        padding-left: 0px;
    } */
    .testo-corto{
        display: block;
    }
    .testo-lungo{
        display: none;
    }
    
    .hero-content h1{
        text-align: start !important;
     }

    .specializzazione-form {
        width: 100%;
    }

    .check-lg {
        display: none;
    }

    .check-sm {
        display: block;
    }

    .dropdown-btn {
        display: block;
        color: white;
    }

    .dropdown-container {
        width: 40%;
    }

    .filter-dropdown {
        font-size: 0.8rem;
    }

    .footer-icon {
        color: #2B6394;

    }
}

@media screen and (max-width: 448px) {
    .d-flex .testo-corto {
        display: none;
    }

    .testo-cortissimo {
        display: block;
    }

}

/* 425px */
@media screen and (max-width: 425px) {

    /* DOC REG FORM */
    .top-form {
        flex-direction: column;
        align-items: center;
        gap: 3rem;
    }

    .dati-anagrafici {
        width: 100%;
    }

    .nome {
        gap: 1rem;
    }

    .contatti-form {
        width: 100%;
    }

    .files {
        width: 100%;
    }  
}

/* DOCTORCARD HEART */
/* .red {
    color: red;
}

.heart-icon {
    font-size: 20px ;
    position: relative; 
}

.tooltip-text {
    visibility: hidden;
    width: 150px;
    color: black;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    z-index: 1;
}

.heart-icon:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
} */